ENVIRONMENT=xxxxxxxxxxxxxxx
APP_VERSION_CODE = xxxxxxxxxxxxxxx
APP_VERSION_NAME = xxxxxxxxxxxxxxx
APP_LABEL_NAME = xxxxxxxxxxxxxxx
ANDROID_RELEASE_STORE_FILE = xxxxxxxxxxxxxxx
ANDROID_RELEASE_STORE_PASSWORD = xxxxxxxxxxxxxxx
ANDROID_RELEASE_KEY_ALIAS = xxxxxxxxxxxxxxx
ANDROID_RELEASE_KEY_PASSWORD = xxxxxxxxxxxxxxx
BASE_URL = xxxxxxxxxxxxxxx